{
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "components" : "./components",
          "data" : "./data",
          "api" : "./api",
          "pages" : "./pages",
          "hooks" : "./components/hooks",
          "elements" : "./components/elements",
          "store" : "./store",
          "styles" : "./styles"
        }
      }]
    ]
  }