<%- include('../includes/seo.ejs') %>

<body>
    <%- include('../includes/nav.ejs') %>
    <form class="flex flex-col max-w-lg rounded-lg shadow p-5 relative form">
        <% if(error){ %>
            <div class="fixed bottom-2 left-1/2 p-4 font-semibold bg-red-100 text-lg text-red-500 max-w-md rounded-xl text-center">
                <p><%= error %></p>
            </div>
        <% } %>
        <div class="relative flex flex-col">
            <label for="email" class="text-gray-800">
              Email address
            </label>
            <input 
            name="email"
            type="email" 
            class="mt-2 rounded-lg border-transparent flex-1 appearance-none border border-gray-300 py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" 
            placeholder="e.g. jahangir@gmail.co...">
        </div>
        <div class="relative flex flex-col mt-3">
            <label for="password" class="text-gray-800">
              Password
            </label>
            <input 
            name="password"
            type="password" 
            class="mt-2 rounded-lg border-transparent flex-1 appearance-none border border-gray-300 py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" 
            placeholder="e.g. Enter passoword with characters...">
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button 
            type="submit" 
            class="mt-4 uppercase py-2 px-4 bg-gradient-to-br from-gray-900 to-black focus:ring-offset-purple-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
            Login
        </button>
    </form>
    <script src="/js/page/auth/login.js"></script>
</body>