@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar {
        scrollbar-color: red white;
        scrollbar-width: thin;
    }
    .scrollbar::-webkit-scrollbar {
        width: 5px;
        overflow: hidden;
    }
    .scrollbar::-webkit-scrollbar-track {
        background-color: transparent;
    }
    .scrollbar::-webkit-scrollbar-thumb {
        background-color: #d1d5db;
        border-radius: 2rem;
        overflow: hidden;
    }
}

body,
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: gc;
}

body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
