<%- include('../includes/seo') %>
<body>
    <%- include('../includes/nav') %>
    <section class="w-full">
        <div class="w-9/12 mx-auto">
            <% if(cart) {%>
               <% cart.forEach((item,id) => { %>
                   <%- include('../includes/carProduct.ejs',{ item,id,cart }) %>
               <% }) %>
            <% } else { %>
                <h1>There are no products in the cart!</h1>
            <% } %>    
        </div>
    </section>
    <!--<script src="/js/page/cart.js"></script>!-->
</body>
</html>
 