<%- include('../includes/seo') %>
<body>
    <%- include('../includes/nav') %>
    <div class="w-10/12 mx-auto">
        <% if(itemData.length > 0) {%>
            <div>
                <% itemData.forEach(item => { %>
                    <%- include('../includes/product',{ item }) %>
                <% }) %>
            </div>
        <% } else { %>
            <div>NO PRODUCTS ADDED!</div>
        <%  } %>
    </div>
</body>
</html>
 