<%- include('../includes/seo') %>
<body>
    <%- include('../includes/nav') %>
    <main class="flex relative">
        <div class="w-10/12 mx-auto">
            <% if(itemData.length > 0) {%>
                <div>
                    <% itemData.forEach(item => { %>
                        <%- include('../includes/product',{ item }) %>
                    <% }) %>
                </div>
            <% } else { %>
                <h1>NO PRODUCTS ADDED!</h1>
            <%  } %>
        </div>
    </main>
</body>
</html>
 